server:
  port: 8082

spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/v1/oauth/callback"
            scope:
              - openid
              - profile
              - email
              - https://www.googleapis.com/auth/fitness.activity.read
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
            user-name-attribute: sub

resilience4j:
  retry:
    instances:
      googleFitApi:
        max-attempts: 3
        wait-duration: 2s
        retry-exceptions:
          - java.io.IOException
          - java.util.concurrent.TimeoutException
          - org.springframework.web.reactive.function.client.WebClientRequestException
        ignore-exceptions:
          - java.lang.IllegalArgumentException

jwt:
  secret:
    access: ${JWT_SECRET_ACCESS}

integration:
  google-fit:
    base-url: "https://www.googleapis.com/fitness/v1/users/me"
    timeout: 5000

google-fit:
  aggregate-endpoint: "/dataset:aggregate"
  sessions-endpoint: "/sessions"
  token-endpoint: "/token"
  sleep-activity-type: 72
  data-type-steps: "com.google.step_count.delta"
  data-type-calories: "com.google.calories.expended"
  data-type-distance: "com.google.distance.delta"
  redirect-url: "http://localhost:8082/v1/oauth/callback"
  authorize-base-url: "https://accounts.google.com/o/oauth2/v2/auth"
  googleapis-base-url: "https://oauth2.googleapis.com"
  time-bucket: 86400000
  scope: |
    https://www.googleapis.com/auth/fitness.activity.read
    https://www.googleapis.com/auth/fitness.location.read
    https://www.googleapis.com/auth/fitness.body.read
    https://www.googleapis.com/auth/fitness.heart_rate.read
    https://www.googleapis.com/auth/fitness.sleep.read

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs